@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --color-primary: #3b82f6; /* Blue 500 */
  --color-primary-dark: #2563eb; /* Blue 600 */
  --color-primary-light: #60a5fa; /* Blue 400 */

  /* Secondary Colors */
  --color-secondary: #8b5cf6; /* Purple 500 */
  --color-secondary-dark: #7c3aed; /* Purple 600 */
  --color-secondary-light: #a78bfa; /* Purple 400 */

  /* Background Colors */
  --color-background: #f9fafb; /* Gray 50 */
  --color-surface: #ffffff; /* White */

  /* Text Colors */
  --color-text-primary: #111827; /* Gray 900 */
  --color-text-secondary: #4b5563; /* Gray 600 */
  --color-text-tertiary: #9ca3af; /* Gray 400 */
  --color-text-inverse: #ffffff; /* White */

  /* Border Colors */
  --color-border: #e5e7eb; /* Gray 200 */
  --color-border-focus: #3b82f6; /* Blue 500 */

  /* Status Colors */
  --color-error: #ef4444; /* Red 500 */
  --color-success: #10b981; /* Green 500 */
  --color-warning: #f59e0b; /* Yellow 500 */

  /* Overlay Colors */
  --color-overlay: rgba(0, 0, 0, 0.5);

  /* Point colors */
  --color-purple-light: #c084fc;
  --color-black-light: #4b5563;
  --color-green-light: #34d399;
  --color-yellow-light: #fbbf24;
  --color-gray-light: #9ca3af;
  --color-orange-light: #fb923c;
  --color-blue-light: #60a5fa;
  --color-red-light: #f87171;
}

/* Utility classes for the custom colors */
@layer utilities {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  .bg-primary-light {
    background-color: var(--color-primary-light);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}
